* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

* {
  margin: 0;
}



/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}


.wrapper {
  min-height: 100%;

}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  padding: 8px;
}

.title {
  margin-top: 24px;
}


strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}


main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 60%);
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}


.card {
  /* max-width: 600px; */
  background-color: hsl(0deg, 0%, 100%);
  padding: 8px 8px 8px;

}

.indented-heading {
  max-width: fit-content;
  margin-left: -16px;
  margin-bottom: 16px;
  font-size: 1.25rem;
  padding: 16px 16px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}